@charset "UTF-8";

/* estilos generales */
body {
font-family: "Bebas Neue", sans-serif;
margin: 0;
padding: 0;
}

main {
background-color: blanchedalmond;
}

header {
background-color: #333;
color: #fff;
padding: 20px;
text-align: center;
}

nav {
ul {
    list-style-type: none;
    padding: 0;

    li {
    display: inline;
    margin-right: 20px;

    a {
        color: #fff;
        text-decoration: none;
    }
    }
}
}

section {
padding: 20px;
}

footer {
background-color: #333;
color: #fff;
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;

p {
    margin: 0;
}
}

a:hover {
font-weight: bold;
padding: 20px;
color: azure;
}

/* estilos catalogo generales */
.row {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

.card:hover {
filter: brightness(90%);
}

@keyframes show {
from {
    opacity: 0;
    scale: 25%;
}
to {
    opacity: 1;
    scale: 100%;
}
}

#Catalogo {
.card {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    h2 {
    font-size: 1.5rem;
    }
}
}

/* redes sociales */
.social-icons {
display: flex;
justify-content: center;
margin-bottom: 10px;

a {
    display: flex;
    align-items: center;
    margin: 0 10px;

    img {
    width: 40px;
    height: auto;
    animation-name: change-size;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
}
}

@keyframes change-size {
0% {
    width: 40px;
}
50% {
    width: 45px;
}
100% {
    width: 40px;
}
}

/* estilos contacto */
.text {
font-style: italic;
}

#contacto {
padding: 20px;

.form-group {
    margin-bottom: 20px;

    label {
    display: block;
    margin-bottom: 5px;
    }

    input,
    textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
}
}

button[type=submit] {
padding: 10px 20px;
font-size: 16px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;

&:hover {
    background-color: #0056b3;
}
}

h1 {
text-align: center;
font-style: italic;
}

/* Estilos generales galeria */
.layout {
.media-container {
    display: grid;
    grid-gap: 1rem;

    img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1%;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.8;
    }
    }
}
}

/* Estilos para la galeria mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
.layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto 30vh auto 20vh auto;
    grid-template-areas: "menu" "parallax" "contenido" "publicidad" "pie";

    .media-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);

    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 1%;
    }

    &-img-uno {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    &-img-dos {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    &-img-tres {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    &-img-cuatro {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    &-img-cinco {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    &-img-seis {
        grid-column: 1/2;
        grid-row: 6/7;
    }
    &-img-siete {
        grid-column: 1/2;
        grid-row: 7/8;
    }
    &-img-ocho {
        grid-column: 1/2;
        grid-row: 8/9;
    }
    }
}
}

/* Estilos para la galeria tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
.layout {
    grid-template-columns: repeat(2, 2fr) 1fr;
    grid-template-rows: auto 40vh auto auto;
    grid-template-areas: "menu menu menu" "parallax parallax publicidad" "contenido contenido publicidad" "pie pie pie";

    .media-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 1%;
    }

    &-img-uno {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    &-img-dos {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    &-img-tres {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    &-img-cuatro {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    &-img-cinco {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    &-img-seis {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    &-img-siete {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    &-img-ocho {
        grid-column: 1/4;
        grid-row: 4/5;
    }
    }
}
}

/* Estilos para la galería desktop */
@media screen and (min-width: 1024px) {
.layout {
    grid-template-columns: repeat(2, 2fr) 1fr;
    grid-template-rows: auto 50vh auto auto;
    grid-template-areas: "menu menu menu" "paralax paralax publicidad" "contenido contenido publicidad" "pie pie pie";

    .media-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    &-img-uno {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    &-img-dos {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    &-img-tres {
        grid-column: 3/4;
        grid-row: 1/3;
    }
    &-img-cuatro {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    &-img-cinco {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    &-img-seis {
        grid-column: 4/5;
        grid-row: 2/4;
    }
    &-img-siete {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    &-img-ocho {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    }
}
}

h2 {
text-align: center;
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 50px;
}

/* Estilos generales pagina de inicio */
#inicio {
.card {
    .card-body {
    animation-name: change-color;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;

    &:hover {
        animation-play-state: paused;
    }
    }

    .card-text {
    color: #464646;
    }
}
}

@keyframes change-color {
0% {
    background-color: white;
}
25% {
    background-color: mintcream;
}
50% {
    background-color: rgb(197, 197, 197);
}
75% {
    background-color: rgb(158, 157, 157);
}
100% {
    background-color: rgb(128, 129, 129);
}
}

/* Estilos pagina inicio mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
.card {
    .card-text {
    display: none;
    }

    & {
    padding-bottom: 2rem;
    }
}

#inicio {
    h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 15%;
}

body.inicio-page {
    .carousel-item {
    img {
        width: 91vw;
        height: auto;
    }
    }
    .carousel-inner {
    width: 91vw;
    }
    main {
    padding: 0;
    }
    .card {
    margin-bottom: 20px;
    }
}
}

/* Variables */
:root {
--color_primario: #333;
--color_primario_suave: #333;
--color_blanco: #fff;
--altura_header: 80px;
--padding_left_right: 2rem;
--ancho_maximo: 1200px;
}

/* Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: #333;
}

a {
text-decoration: none;
}

ol,
ul {
list-style: none;
}

/* Header */
.header {
height: var(--altura_header);
background-color: var(--color_primario);
position: relative;
z-index: 1000;
}

.navbar {
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
padding: 0 var(--padding_left_right);
}

.menu_hamburguesa {
display: none;

&:checked + .ul_links {
    height: calc(100vh - var(--altura_header));
    display: flex;
}
}

.logo {
color: var(--color_blanco);
}

.labe_hamburguesa {
}

.list_icon {
color: var(--color_blanco);
cursor: pointer;
}

.ul_links {
width: 100%;
background-color: var(--color_primario_suave);
position: absolute;
top: var(--altura_header);
left: 0;
height: 0;
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 3rem;
transition: height 0.3s;
z-index: 999; 
}

.li_links {
}

.link {
font-size: 3em;
color: var(--color_blanco);
font-weight: bold;
}

@media (min-width: 768px) {
.labe_hamburguesa {
    display: none;
}

.ul_links {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 2rem;
}

.link {
    font-size: 1.2rem;
    transition: all 0.3s;
    padding: 0.2rem 0.7rem;

    &:hover {
    background-color: #464646;
    }
}
}

/* Estilos pagina inicio desktop */
@media screen and (min-width: 1024px) {
h1 {
    font-size: 50px;
}

body.inicio-page {
    .carousel-item {
    img {
        width: 100%;
        height: 98vh;
        -o-object-fit: cover;
        object-fit: cover;
    }
    }
    .carousel-inner {
    height: 90vh;
    }
    main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    }
    .row {
    margin: 0;
    padding: 20px 0;
    width: 100%;
    }
    .card {
    margin-bottom: 20px;
    }
    .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    }
}
}

/* Estilos para la página de nosotros generales */
.content {
display: flex;
justify-content: space-between;
}

.info {
width: 30%;
text-align: center;

img {
    width: 100%;
    height: auto;
}
}

h3 {
text-align: center;
font-style: italic;
font-size: larger;
}

p {
display: flex;
color: gray;
}

.card-body {
background-color: gainsboro;
}

#Nosotros {
.card {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;

    &:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    img {
    max-width: 100%;
    height: auto;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
    }
    h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    }
}
}
